
<ion-view view-title="Users">
<div ng-app = "starter.controllers" ng-controller = "UserCtrl">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-clear item-button-right" ng-repeat="user in users" type="item-text-wrap" >
      <img ng-src="/img/ionic.png">
      <p >
          <button class = "button button-clear" ng-click="goto(user)"><b>{{user.firstName}}</b>
          </button>

      </p>
        <p>{{user.email}}</p>
        <button class="button button-clear button-assertive " ng-click = "remove(user)">
      <i class="icon ion-ios-close-outline"></i>

      </button>

      </ion-item>
    </ion-list>
  </ion-content>
</div>
</ion-view>
